.news {

	.container {

		.wrapper {

			max-width: 1200px;
		}
	}


	.slick-arrow {
		display: flex;
		border: solid 1px $whiteColor;
		padding: 0;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		margin: -40px -100px 0px -100px;
		z-index: 10;
		font-size: 0;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	.slick-prev {
		left: 0;
		background: url('../img/prew.svg');
		background-position: center;
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
	}

	.slick-next {
		right: 0;
		background: url('../img/prew.svg');
		background-position: center;
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		transform: rotate(180deg);
	}

	.slick-disabled {
		opacity: 0.2;
	}




}