.news {
	padding: 160px 0 120px;

	.container {

		.news__title {
			font-size: 44px;
			text-align: center;
			color: $whiteColor;
			margin-bottom: 85px;

			&::before {
				top: -42px;

			}
		}

		.wrapper {

			.news__cards {

				.card__item {

					div {

						.bottom {
							padding: 30px 20px;

							h5 {
								font-size: 22px;

							}

							p {
								font-size: 18px;
								margin-bottom: 39px;
							}

							div {
								div {


									.name {
										font-size: 18px;

									}

									.date {
										font-size: 14px;

									}
								}
							}
						}
					}
				}
			}
		}

		.slick-list {

			margin-bottom: 25px;
		}

		// .news__cards .slick-arrow {
		// 	position: absolute;
		// 	top: 50%;
		// 	margin: -30px 0px 0px 0px;
		// 	z-index: 10;
		// 	font-size: 0;
		// 	width: 30px;
		// 	height: 60px;
		// }

		// .news__cards .slick-arrow.slick-prev {
		// 	left: 0;
		// 	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
		// }

		// .news__cards .slick-arrow.slick-next {
		// 	right: 0;
		// 	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
		// }

		// .news__cards .slick-arrow.slick-disabled {
		// 	opacity: 0.2;
		// }
		.news__cards img {
			max-width: 100%;
		}
	}

}